        html {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: auto;
        }
        .header {
            display: flex;
            justify-content: center;
        }
        .banner {
            display: flex;
            flex-direction: row;
            width: 1400px;
           justify-content: space-between;
            padding-left: 40px;
            padding-right: 40px;
        }
        .narbar {
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            align-items: center;
            margin: 20px;
        }
        .menu {
            margin-left: 20px;
            width: 400px; 
        }
        .menu-list {
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            padding: 0px;
            gap:15px;
        }
        .menu-item {
            display: flex;
            flex-direction: row;
            gap:5px;
            background: transparent;
            border: 0px;
            cursor: pointer;
            padding: 0px;
        }
        .login-list {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 10px;
            padding-left: 20px;
        }
        #contact {
            background: transparent;
            border: 0px;
            cursor: pointer;
        }
        #login {
            background:white;
            border-radius: 5px;
            padding: 5px;
            cursor: pointer;
        }
        #register {
            background:black;
            border-radius: 5px;
            padding: 5px;
            color: white;
            cursor: pointer;
        }
        #main {
        background-color: #F3FFE3;
        display: flex;
        justify-content: center;
        }
        h1 {
            width: 650px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .main-section {  
            margin: 20px;
            width: 1400px;
            padding-top: 40px;
            padding-bottom: 40px;  
        }
        .page {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1000px;
        }
        .main-element {
            margin-top:10px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;;
            gap: 10px;
        }
        .box img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            display: block;
            
        }
        .box {
            width: 450px;
        }
        .arrows {
            display: flex;
            flex-direction:row;
            gap:5px;
        }